{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addRuleModal.css') }}">
{% endblock %}
{% block modal %}
    <div id="addRuleModal" class="modal">
        <form class="content">

            <h1 class="modalTitle">Add Rule</h1>

            <div class="inputs">
                <div class="inputWrapper">
                    <label for="name">Name</label>
                    <input name="name" type="text" id="rule_name" class="input">
                </div>
                <div class="inputWrapper">
                    <label for="protocol">Protocol</label>
                    <select name="protocol" id="rule_protocol" class="input" onchange="triggerAddProtocolField(this.value)">
                        <option value="MODBUS">MODBUS</option>
                        <option value="IP/TCP">IP/TCP</option>
                        <option value="SLMP">SLMP</option>
                    </select>
                </div>
                <div id="add_IP/TCP" class="ruleFormField">
                    <div class="inputWrapper">
                        <label to="source_address">Source Address</label>
                        <input label="source_address" type="text" id="IP/TCP_rule_source_address" class="input">
                    </div>
                    <div class="inputWrapper">
                        <label to="destination_address">Destination Address</label>
                        <input label="destination_address" type="text" id="IP/TCP_rule_destination_address" class="input">
                    </div>
                    <div class="inputWrapper">
                        <label to="source_port">Source Port</label>
                        <input label="source_port" type="text" id="IP/TCP_rule_source_port" class="input">
                    </div>
                    <div class="inputWrapper">
                        <label to="destination_port">Destination Port</label>
                        <input label="destination_port" type="text" id="IP/TCP_rule_destination_port" class="input" >
                    </div>
                </div>
                <div id="add_MODBUS" class="ruleFormField">
                    <label for="function">Function</label>
                    <select name="function" id="rule_function" class="input" onchange="triggerAddFunctionField(this.value)">
                        <option value="f1">Read Coils</option>
                        <option value="f1">Read Discrete Input</option>
                        <option value="f1">Read Holding Registers</option>
                        <option value="f1">Read Input Registers</option>
                        <option value="f5">Write Single Coil</option>
                        <option value="f6">Write Single Registers</option>
                        <option value="f1">Write Multiple Coils</option>
                        <option value="f1">Write Multiple Registers</option>
                        <option value="f23">Read/Write Multiple Registers</option>
                    </select>
                    <div id="add_f1" class="ruleFormField">
                        <div class="inputWrapper">
                            <label to="starting_address">Starting Address</label>
                            <input label="starting_address" type="text" id="f1_rule_starting_address" class="input">
                        </div>
                        <div class="inputWrapper">
                            <label to="last_address">Last Address</label>
                            <input label="last_address" type="text" id="f1_rule_last_address" class="input">
                        </div>
                    </div>
                    <div id="add_f5" class="ruleFormField">
                        <div class="inputWrapper">
                            <label to="output_address">Output Address</label>
                            <input label="output_address" type="text" id="f5_rule_output_address" class="input">
                        </div>
                        <div class="inputWrapper">
                            <label to="value">Value</label>
                            <input label="value" type="text" id="f5_rule_value" class="input">
                        </div>
                    </div>
                    <div id="add_f6" class="ruleFormField">
                        <div class="inputWrapper">
                            <label to="output_address">Output Address</label>
                            <input label="output_address" type="text" id="f6_rule_output_address" class="input" >
                        </div>
                        <div class="inputWrapper">
                            <label to="start_register">Minimum Value</label>
                            <input label="start_register" type="text" id="f6_rule_start_register" class="input">
                        </div>
                        <div class="inputWrapper">
                            <label to="end_register">End Register</label>
                            <input label="end_register" type="text" id="f6_rule_end_register" class="input">
                        </div>
                    </div>
                    <div id="add_f23" class="ruleFormField">
                        <div class="inputWrapper">
                            <label to="read_starting_address">Read Starting Address</label>
                            <input label="read_starting_address" type="text" id="f23_rule_read_starting_address" class="input">
                        </div>
                        <div class="inputWrapper">
                            <label to="read_last_address">Read Last Address</label>
                            <input label="read_last_address" type="text" id="f23_rule_read_last_address" class="input">
                        </div>
                        <div class="inputWrapper">
                            <label to="write_starting_address">Write Starting Address</label>
                            <input label="write_starting_address" type="text" id="f23_rule_write_starting_address" class="input">
                        </div>
                        <div class="inputWrapper">
                            <label to="write_last_address">Read Last Address</label>
                            <input label="write_last_address" type="text" id="f23_rule_write_last_address" class="input">
                        </div>
                    </div>
                </div>
                <div id="add_SLMP" class="ruleFormField">
                    <div class="inputWrapper">
                        <label for="command">Command</label>
                        <select name="command" id="SLMP_rule_command" class="input">
                            <option value="Read">Read</option>
                            <option value="Write">Write</option>
                        </select>
                    </div>
                    <div class="inputWrapper">
                        <label to="subcommand">Subcommand</label>
                        <input label="subcommand" type="text" id="SLMP_rule_subcommand" class="input">
                    </div>
                    <div class="inputWrapper">
                        <label to="end_register">End Register</label>
                        <input label="end_register" type="text" id="SLMP_rule_end_register" class="input">
                    </div>
                    <div class="inputWrapper">
                        <label to="start_register">Start Register</label>
                        <input label="start_register" type="text" id="SLMP_rule_start_register" class="input">
                    </div>
                </div>
            </div>     
            <div class="buttons modalButtons">
                <button id="confirmAddRule" class="button" type="submit">Add</button>
                <button id="closeAddRuleModal" class="button" type="button">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}