{% block buttons %}
    <button id="disableALl" onClick="disableAll()" class="button" type="button">Disable all</button>
    <button id="enableAll" onClick="enableAll()" class="button" type="button">Enable all</button>
    <button id="addRule" class="button" type="button">Add rule</button>
    <button id="log" class="button" type="button" onClick="fetchLogs()">Log</button>
    <button id="logout" class="button" type="button" onClick="logout()">Logout</button>
    <button id="savePush" onClick="savePush()" class="button" type="button">Save & Push</button> 
{% endblock %}