{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ruleForm.css') }}">
{% endblock %}
{% block ruleForm %}
<form id="ruleForm_{{ rule['id'] }}" class="ruleFormWrapper">
    <div class="inputs ruleFormInputs">
        <h3>Modify Rule</h3>

        <div class="inputWrapper">
            <label for="name">Name</label>
            <input name="name" type="text" id="{{ rule['id'] }}_name" class="input" value="{{ rule['name'] }}">
        </div>
        <div class="inputWrapper">
            <label for="protocol">Protocol</label>
            <select name="protocol" id="{{ rule['id'] }}_protocol" class="input" onchange="triggerProtocolField(this.value, `{{ rule['id'] }}`)">
                <option value="MODBUS">MODBUS</option>
                <option value="TCP">TCP</option>
                <option value="SLMP">SLMP</option>
            </select>
        </div>
        <div id="{{ rule['id'] }}_TCP" class="ruleFormField">
            <div class="inputWrapper">
                <label to="source_address">Source Address</label>
                <input label="source_address" type="text" id="{{ rule['id'] }}TCP_source_address" class="input" value="{{ rule['source_address'] }}">
            </div>
            <div class="inputWrapper">
                <label to="destination_address">Destination Address</label>
                <input label="destination_address" type="text" id="{{ rule['id'] }}TCP_destination_address" class="input" value="{{ rule['destination_address'] }}">
            </div>
            <div class="inputWrapper">
                <label to="source_port">Source Port</label>
                <input label="source_port" type="text" id="{{ rule['id'] }}TCP_source_port" class="input" value="{{ rule['source_port'] }}">
            </div>
            <div class="inputWrapper">
                <label to="destination_port">Destination Port</label>
                <input label="destination_port" type="text" id="{{ rule['id'] }}TCP_destination_port" class="input" value="{{ rule['destination_port'] }}">
            </div>
        </div>
        <div id="{{ rule['id'] }}_MODBUS" class="ruleFormField">
            <label for="command">Command</label>
            <select name="command" id="{{ rule['id'] }}_MODBUS_rule_command" class="input">
                <option value="Read Coils">Read Coils</option>
                <option value="Read Discrete Input">Read Discrete Input</option>
                <option value="Read Holding Registers">Read Holding Registers</option>
                <option value="Read Input Registers">Read Input Registers</option>
                <option value="Write Single Coil">Write Single Coil</option>
                <option value="Write Single Registers">Write Single Registers</option>
                <option value="Write Multiple Coils">Write Multiple Coils</option>
                <option value="Write Multiple Registers">Write Multiple Registers</option>
                <option value="Read/Write Multiple Registers">Read/Write Multiple Registers</option>
            </select>
            <div class="inputWrapper">
                <label to="start_register">Start Register</label>
                <input label="start_register" type="text" id="{{ rule['id'] }}start_register" class="input" value="{{ rule['start_register'] }}">
            </div>
            <div class="inputWrapper">
                <label to="end_register">End Register</label>
                <input label="end_register" type="text" id="{{ rule['id'] }}end_register" class="input" value="{{ rule['end_register'] }}">
            </div>
        </div>
        <div id="{{ rule['id'] }}_SLMP" class="ruleFormField">
            <div class="inputWrapper">
                <label for="command">Command</label>
                <select name="command" id="{{ rule['id'] }}_SLMP_rule_command" class="input" selected="{{ rule['command'] }}">
                    <option value="Read">Read</option>
                    <option value="Write">Write</option>
                </select>
            </div>
            <div class="inputWrapper">
                <label to="subcommand">Subcommand</label>
                <input label="subcommand" type="text" id="{{ rule['id'] }}SLMP_rule_subcommand" class="input" value="{{ rule['subcommand'] }}">
            </div>
            <div class="inputWrapper">
                <label to="start_register">Start Register</label>
                <input label="start_register" type="text" id="{{ rule['id'] }}SLMP_rule_start_register" class="input" value="{{ rule['start_register'] }}">
            </div>
            <div class="inputWrapper">
                <label to="end_register">End Register</label>
                <input label="end_register" type="text" id="{{ rule['id'] }}SLMP_rule_end_register" class="input" value="{{ rule['end_register'] }}">
            </div>

        </div>
        <div class="inputWrapper">
            <label for="isActive">Is Active?</label>
            <select name="isActive" id="{{ rule['id'] }}_isActive" class="input" selected="{{ rule['is_active'] }}">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    <div class="ruleFormButtons" class="buttons">
        <button class="button" type="button" onClick="saveRuleForm(this.id)" id="{{ rule['id'] }}">Save</button>
        <button class="button" type="button" onClick="closeRuleForm(this.id)" id="{{ rule['id'] }}">Cancel</button>
        <button class="button" type="button" onClick="deleteRule(this.id)" id="{{ rule['id'] }}">Delete</button>
    </div>   
</form>
{% endblock %}
