{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addRuleModal.css') }}">
{% endblock %}
{% block modal %}
    <div id="addRuleModal" class="modal">
        <form class="content">

            <h1 class="modalTitle">Add Rule</h1>

            <div class="inputs">
                <div class="inputWrapper">
                    <label for="name">Rule Name</label>
                    <input name="name" type="text" id="ruleName" class="input" placeholder="Name...">
                </div>
                <div class="inputWrapper">
                    <label for="protocol">Choose Protocol</label>
                    <select name="protocol" id="ruleProtocol" class="input">
                        <option value="p1">First protocol</option>
                        <option value="p2">Second protocol</option>
                    </select>
                </div>
                <div class="inputWrapper">
                    <label for="profile">Rule Profile</label>
                    <input label="profile" type="number" id="ruleProfile" class="input" placeholder="Profile...">
                </div>
                <div class="inputWrapper">
                    <label for="direction">Direction</label>
                    <select name="direction" id="ruleDirection" class="input">
                        <option value="d1">First direction</option>
                        <option value="d2">Second direction</option>
                    </select>
                </div>
                <div class="inputWrapper">
                    <!--TODO: make this select a multiselect-->
                    <label for="parameter">Analysed Parameter</label>
                    <select name="parameter" id="ruleParameters" class="input">
                        <option value="p1">First parameter</option>
                        <option value="p2">Second parameter</option>
                    </select>
                </div>
                <div class="inputWrapper">
                    <label to="expectedValue">Expected Value</label>
                    <input label="expectedValue" type="text" id="ruleExpectedValue" class="input" placeholder="Expected Value...">
                </div>
            </div>
            
            <div class="buttons modalButtons">
                <button id="confirmAddRule" class="button" type="submit">Add</button>
                <button id="closeAddRuleModal" class="button" type="button">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}