<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}
    <title>Firewall</title>
</head>
<body>
    <div class="wrapper">

        <h1 class="title">Firewall</h1>

        <ul id="rules" class="box">
            {% include 'rules.html' %}
        </ul>

        <div class="buttons">
            <!--Buttons are not connected to any function-->
            <button id="disableALl" class="button" type="button">Disable all</button>
            <button id="enableAll" class="button" type="button">Enable all</button>
            <button id="addRule" class="button" type="button">Add rule</button>
            <button id="log" class="button" type="button">Log</button>
            <button id="savePush" class="button" type="button">Save & Push</button>
        </div>

        <ul id="logs" class="box logs">
            {% include 'logs.html' %}
        </ul>

    </div>
    {% include 'addRuleModal.html' %}
    
    <script src="{{ url_for('static', filename='js/addRule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ruleCheck.js') }}"></script>
</body>
</html>