{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ruleForm.css') }}">
{% endblock %}
{% block ruleForm %}
<form id="ruleForm_{{ rule['id'] }}" class="ruleFormWrapper">
    <div class="inputs ruleFormInputs">
        <h3>Modify Rule</h3>

        <div class="inputWrapper">
            <label for="name">Name</label>
            <input name="name" type="text" id="{{ rule['id'] }}_name" class="input" value="{{ rule['name'] }}">
        </div>
        <div class="inputWrapper">
            <label for="protocol">Protocol</label>
            <select name="protocol" id="{{ rule['id'] }}_protocol" class="input" selected="{{ rule['protocol'] }}" onchange="triggerProtocolField(this.value, `{{ rule['id'] }}`)">
                <option value="MODBUS">MODBUS</option>
                <option value="IP/TCP">IP/TCP</option>
                <option value="SLMP">SLMP</option>
            </select>
        </div>
        <div id="{{ rule['id'] }}_IP/TCP" class="ruleFormField">
            <div class="inputWrapper">
                <label to="source_address">Source Address</label>
                <input label="source_address" type="text" id="{{ rule['id'] }}_source_address" class="input" value="{{ rule['source address'] }}">
            </div>
            <div class="inputWrapper">
                <label to="destination_address">Destination Address</label>
                <input label="destination_address" type="text" id="{{ rule['id'] }}_destination_address" class="input" value="{{ rule['destination address'] }}">
            </div>
            <div class="inputWrapper">
                <label to="source_port">Source Port</label>
                <input label="source_port" type="text" id="{{ rule['id'] }}_source_port" class="input" value="{{ rule['source port'] }}">
            </div>
            <div class="inputWrapper">
                <label to="destination_port">Destination Port</label>
                <input label="destination_port" type="text" id="{{ rule['id'] }}_destination_port" class="input" value="{{ rule['destination port'] }}">
            </div>
        </div>
        <div id="{{ rule['id'] }}_MODBUS" class="ruleFormField">
            <label for="function">Function</label>
            <select name="function" id="{{ rule['id'] }}_function" class="input" selected="{{ rule['function'] }}" onchange="triggerFunctionField(this.value, `{{ rule['id'] }}`)">
                <option value="f1">Read Coils</option>
                <option value="f1">Read Discrete Input</option>
                <option value="f1">Read Holding Registers</option>
                <option value="f1">Read Input Registers</option>
                <option value="f5">Write Single Coil</option>
                <option value="f6">Write Single Registers</option>
                <option value="f1">Write Multiple Coils</option>
                <option value="f1">Write Multiple Registers</option>
                <option value="f23">Read/Write Multiple Registers</option>
            </select>
            <div id="{{ rule['id'] }}_f1" class="ruleFormField">
                <div class="inputWrapper">
                    <label to="starting_address">Starting Address</label>
                    <input label="starting_address" type="text" id="{{ rule['id'] }}_starting_address" class="input" value="{{ rule['starting address'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="last_address">Last Address</label>
                    <input label="last_address" type="text" id="{{ rule['id'] }}_last_address" class="input" value="{{ rule['last address'] }}">
                </div>
            </div>
            <div id="{{ rule['id'] }}_f5" class="ruleFormField">
                <div class="inputWrapper">
                    <label to="output_address">Output Address</label>
                    <input label="output_address" type="text" id="{{ rule['id'] }}_output_address" class="input" value="{{ rule['output address'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="value">Value</label>
                    <input label="value" type="text" id="{{ rule['id'] }}_value" class="input" value="{{ rule['value'] }}">
                </div>
            </div>
            <div id="{{ rule['id'] }}_f6" class="ruleFormField">
                <div class="inputWrapper">
                    <label to="output_address">Output Address</label>
                    <input label="output_address" type="text" id="{{ rule['id'] }}_output_address" class="input" value="{{ rule['output address'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="min_value">Minimum Value</label>
                    <input label="min_value" type="text" id="{{ rule['id'] }}_min_value" class="input" value="{{ rule['min value'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="max_value">Maximum Value</label>
                    <input label="max_value" type="text" id="{{ rule['id'] }}_max_value" class="input" value="{{ rule['max value'] }}">
                </div>
            </div>
            <div id="{{ rule['id'] }}_f23" class="ruleFormField">
                <div class="inputWrapper">
                    <label to="read_starting_address">Read Starting Address</label>
                    <input label="read_starting_address" type="text" id="{{ rule['id'] }}_read_starting_address" class="input" value="{{ rule['read starting address'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="read_last_address">Read Last Address</label>
                    <input label="read_last_address" type="text" id="{{ rule['id'] }}_read_last_address" class="input" value="{{ rule['read last address'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="write_starting_address">Write Starting Address</label>
                    <input label="write_starting_address" type="text" id="{{ rule['id'] }}_write_starting_address" class="input" value="{{ rule['write starting address'] }}">
                </div>
                <div class="inputWrapper">
                    <label to="write_last_address">Read Last Address</label>
                    <input label="write_last_address" type="text" id="{{ rule['id'] }}_write_last_address" class="input" value="{{ rule['write last address'] }}">
                </div>
            </div>
        </div>
        <div id="{{ rule['id'] }}_SLMP" class="ruleFormField">
            
        </div>
        <div class="inputWrapper">
            <label for="isActive">Is Active?</label>
            <select name="isActive" id="{{ rule['id'] }}_isActive" class="input" selected="{{ rule['is_active'] }}">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>
    </div>
    <div class="ruleFormButtons" class="buttons">
        <button class="button" type="button" onClick="saveRuleForm(this.id)" id="{{ rule['id'] }}">Save</button>
        <button class="button" type="button" onClick="closeRuleForm(this.id)" id="{{ rule['id'] }}">Cancel</button>
    </div>   
</form>
{% endblock %}